body {
    font-family: 'Rubik', sans-serif;
}


h2 h4 {
    color: #2f353e;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

p {
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
    letter-spacing: .05px;
}

.max-p {
    max-width: 800px;
}

.askQ {
    color: #6c757d;

}



/* pricing section */
.apilix_pricing {
    background-color: #e7ebed;
    margin-top: 50px;
    padding: 50px 0px;
}

.apilix_pricing .pricing {
    /* gap: 35px; */
    padding: 50px 0px;
}


.switch_price {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
}

.card_one,
.card_two,
.card_three {
    background-color: #fff;
    padding: 30px 35px;
    border: 1px rgb(217, 212, 212);
    border-radius: 15px;
}



.card_three .high_light_two {
    background-color: rgb(86, 86, 184);
    color: white;
    padding: 8px 12px;
    border-radius: 18px;
}

.card_feature ul {
    list-style: none;
    padding: 0px;
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
    letter-spacing: .05px;
}

.card_feature span {
    color: #5b6874;
    line-height: 1.6666;
    font-weight: 600;
    letter-spacing: .05px;

}
.high_light_one {
    background-color: rgb(86, 86, 184);
    color: white;
    padding: 8px 12px;
    border-radius: 5px 0px;
}

.high_light {
    background-color: rgb(86, 86, 184);
    color: white;
}

.plan_name_lifetime {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.txt_large {
    font-size: 60px;
}























@media only screen and (max-width: 600px) {
    .apilix_pricing .pricing {
        gap: 35px;
        padding: 50px 0px;
    }
}