body {
    font-family: 'Rubik', sans-serif;
}


h2 h4 {
    color: #2f353e;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

p {
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
    letter-spacing: .05px;
}

.max-p {
    max-width: 800px;
}

.askQ {
    color: #6c757d;

}



/* pricing section */
.apilix_pricing {
    background-color: #e7ebed;
    margin-top: 50px;
    padding: 50px 0px;
}

.apilix_pricing .pricing {
    /* gap: 35px; */
    padding: 50px 0px;
}

.apilix_pricing h2 {
    font-size: 40px;
    font-weight: 600;
}

.switch_price span {
    cursor: pointer;
    display: block;
    background-color: #f2eaff;
    color: #9155fd;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 33px;
    text-align: center;
}

.switch_price span:nth-child(1) {
    border-radius: 10px 0 0 10px;
    padding: 18px 32px;
}

.switch_price span:nth-child(2) {
    border-radius: 10px 0 0 10px;
    padding: 18px 32px;
}

span.active {
    background-color: #633ae5;
    color: #fff;

}

.switch_price {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;

    /* background-color: #633ae5; */
}

.card_one,
.card_two,
.card_three {
    background-color: #fff;
    padding: 30px 35px;
    border: 1px rgb(217, 212, 212);
    border-radius: 15px;
}



.card_feature ul {
    list-style: none;
    padding: 0px;
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
    letter-spacing: .05px;
}

.card_feature span {
    color: #5b6874;
    line-height: 1.6666;
    font-weight: 600;
    letter-spacing: .05px;

}

.high_light_one {
    background-color: #633ae5;
    color: white;
    padding: 8px 12px;
    border-radius: 5px 0px;
}

.high_light {
    background-color: #633ae5;
    color: white;
}

.card_three .card_plan .plan_name {
    position: relative;
}

.plan_name .lifetime {
    position: absolute;
    background-color: #633ae5;
    color: white;
    padding: 3px 12px;
    border-radius: 18px;
    top: -3px;
    right: -3px;

}

.txt_large {
    font-size: 60px;
}























@media only screen and (max-width: 500px) {
    .apilix_pricing .pricing {
        gap: 35px;
        padding: 50px 0px;
    }
}


/* @media only screen and (max-width: 768px) {
    .apilix_pricing .pricing {
        gap: 45px;
        padding: 50px 0px;
    }
} */