body {
    font-family: 'Rubik', sans-serif;
}


h2 h4 {
    color: #2f353e;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

p {
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
    letter-spacing: .05px;
}

.max-p {
    max-width: 800px;
}
.askQ{
    color: #6c757d;

}